<app-header title="addtitulo"></app-header>


<ion-content [fullscreen]="true">
  <div id="container">

    <ion-item>
      <ion-label position="floating">Titulo</ion-label>
      <ion-input type="text" id="titulo" name="titulo" required [(ngModel)]="titulo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Autor</ion-label>
      <ion-input type="text" id="autor" name="autor" required [(ngModel)]="autor"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Editorial</ion-label>
      <ion-input type="text" id="editorial" name="editorial" required [(ngModel)]="editorial"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">ISBN</ion-label>
      <ion-input type="text" id="isbn" name="isbn" required [(ngModel)]="isbn"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Num Paginas</ion-label>
      <ion-input type="number" id="paginas" name="paginas" required [(ngModel)]="nPaginas"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Año</ion-label>
      <ion-input type="number" id="anyo" name="anyo" required [(ngModel)]="anio"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Genero</ion-label>
      <ion-input type="text" id="genero" name="genero" required [(ngModel)]="genero"></ion-input>
    </ion-item>

   

    <ion-button expand="block" (click)="addlibro()">Agregar</ion-button>
  </div>
</ion-content>
