
<app-header title="Home"></app-header>

<ion-content [fullscreen]="true">

  <div id="container">
 
    
    <ion-button expand="block" (click)="logout()">Logout</ion-button>
    <!-- lista de jugadores -->
    <h2>Libros</h2>
    <ion-list>
      <!-- item enlazable con la pag jugador -->
      <ion-item *ngFor="let lib of libro" (click)="detallesLibro(lib.isbn)">
        <ion-label>{{lib.isbn}}</ion-label>
        <ion-label>{{lib.titulo}}</ion-label>
        <ion-label>{{lib.autor}}</ion-label>
      </ion-item>
     
    </ion-list>

    <ion-button expand="block" (click)="addlibro()">Añadir libro</ion-button>
  </div>
</ion-content>
