<app-header title="libro"></app-header>


<ion-content [fullscreen]="true">
  <div id="container">

    <h2>El Señor de los anillos</h2>
    <p> <ion-label>Autor: JRR Tolkien</ion-label></p>
    <p> <ion-label>Editorial: Anaya</ion-label></p>
    <p> <ion-label>ISBN: 9788845292613</ion-label></p>
    <h2>Carácterísticas</h2>
    <p> <ion-label>Número de páginas: 1000</ion-label></p>
    <p> <ion-label>Año: 1954</ion-label></p>
    <p> <ion-label>Género: Fantasía</ion-label></p>

    
    

    <ion-button expand="block" color="danger" (click)="deletelibro()">Borrar libro</ion-button>
  </div>
</ion-content>